@import '@radix-ui/colors/gray';
@import '@radix-ui/colors/gray-dark';
@import '@radix-ui/colors/red';
@import '@radix-ui/colors/red-dark';

@import 'tailwindcss';
@plugin 'tailwindcss-animate';

@theme {
  --font-family-sans: Inter, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

  --color-*: initial;

  --color-white: white;
  --color-black: black;
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-inherit: inherit;

  --color-primary-1: var(--red-1);
  --color-primary-2: var(--red-2);
  --color-primary-3: var(--red-3);
  --color-primary-4: var(--red-4);
  --color-primary-5: var(--red-5);
  --color-primary-6: var(--red-6);
  --color-primary-7: var(--red-7);
  --color-primary-8: var(--red-8);
  --color-primary-9: var(--red-9);
  --color-primary-10: var(--red-10);
  --color-primary-11: var(--red-11);
  --color-primary-12: var(--red-12);

  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);
  --color-gray-10: var(--gray-10);
  --color-gray-11: var(--gray-11);
  --color-gray-12: var(--gray-12);
  /* --color-gray-12: red */
}

html.dark {
  color-scheme: dark;
}
