@import '@radix-ui/colors/gray';
@import '@radix-ui/colors/gray-dark';

@import '@radix-ui/colors/red';
@import '@radix-ui/colors/red-dark';

@import '@radix-ui/colors/blue';

@import '@radix-ui/colors/purple';

@import 'tailwindcss';
@plugin 'tailwindcss-animate';

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-family-sans: Inter, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

  --color-*: initial;

  --color-white: white;
  --color-black: black;
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-inherit: inherit;

  --color-primary-1: var(--red-1);
  --color-primary-2: var(--red-2);
  --color-primary-3: var(--red-3);
  --color-primary-4: var(--red-4);
  --color-primary-5: var(--red-5);
  --color-primary-6: var(--red-6);
  --color-primary-7: var(--red-7);
  --color-primary-8: var(--red-8);
  --color-primary-9: var(--red-9);
  --color-primary-10: var(--red-10);
  --color-primary-11: var(--red-11);
  --color-primary-12: var(--red-12);

  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);
  --color-gray-10: var(--gray-10);
  --color-gray-11: var(--gray-11);
  --color-gray-12: var(--gray-12);

  --color-blue-1: var(--blue-1);
  --color-blue-2: var(--blue-2);
  --color-blue-3: var(--blue-3);
  --color-blue-4: var(--blue-4);
  --color-blue-5: var(--blue-5);
  --color-blue-6: var(--blue-6);
  --color-blue-7: var(--blue-7);
  --color-blue-8: var(--blue-8);
  --color-blue-9: var(--blue-9);
  --color-blue-10: var(--blue-10);
  --color-blue-11: var(--blue-11);
  --color-blue-12: var(--blue-12);

  --color-purple-1: var(--purple-1);
  --color-purple-2: var(--purple-2);
  --color-purple-3: var(--purple-3);
  --color-purple-4: var(--purple-4);
  --color-purple-5: var(--purple-5);
  --color-purple-6: var(--purple-6);
  --color-purple-7: var(--purple-7);
  --color-purple-8: var(--purple-8);
  --color-purple-9: var(--purple-9);
  --color-purple-10: var(--purple-10);
  --color-purple-11: var(--purple-11);
  --color-purple-12: var(--purple-12);
}

button,
a {
  cursor: pointer;
  @apply outline-none focus-visible:ring-2 focus-visible:ring-gray-12;
}
